*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Titulo{
    font-size: 50px;
    text-align: center;
}
.Seccion_1{
    width: 60vw;
    height: 70vh;
    margin-top: 5vh;
    background-color: #4558FF;
    border: 2px solid #E72121;
    border-radius: 15px;
    margin-left: 18vw;
}
.Texto_Seccion_1{
    width: 20vw;
    margin-top: 5vh;
    margin-left: 2vw;
    color: white;
}
.Textito_Seccion_1{
    width: 25vw;
    margin-top: 5vh;
    margin-left: 2vw;
    font-weight: normal;
    font-size: 30px;
    color: white;
}
.Boton_Seccion_1{
    width: 13vw;
    height: 9vh;
    background-color: #2957FF;
    border: none;
    border-radius: 25px;
    margin-top: 2vh;
    margin-left: 2vw;
}
.Texto_Boton{
    font-weight: normal;
    font-size: 25px;
    color: white;
}
.Img_Seccion_1{
    width: 25vw;
    height: 52vh;
    position: absolute;
    top: 22vh;
    left: 50vw;
}
.Texto_Seccion_2{
    margin-left: 8vw;
    margin-top: 10vh;
    font-size: 40px;
}
.Textito_Seccion_2{
    width: 40vw;
    font-size: 30px;
    font-weight: normal;
    margin-left: 8vw;
    margin-top: 4vh;
}
.Img_Seccion_2{
    width: 40vw;
    height: 60vh;
    position: absolute;
    left: 50vw;
    top: 80vh;
}
.Cuadro{
    width: 22vw;
    height: 40vh;
    border: 2px solid #B7B1B1;
    border-radius: 15px;
    margin-left: 5vw;
}
.Textito_Seccion_4{
    font-weight: normal;
    font-size: 20px;
    margin-left: 9vw;
    margin-top: 3vh;
}
.Boton_Seccion_4{
    width: 13vw;
    height: 9vh;
    background-color: #2957FF;
    border: none;
    border-radius: 25px;
    position: absolute;
    left: 50vw;
    top: 203vh;
}
.Sign_in{
    width: 50vw;
    height: 80vh;
    background-color:#4558FF;
    border: 2px solid #E72121;
    border-radius: 15px;
    margin-left: 25vw;
}
.SignIn_Texto{
    color: white;
    font-weight: normal;
    margin-left: 5vw;
    margin-top: 8vh;
}
.SignIn_Input{
    width: 40vw;
    height: 5vh;
    font-size: 20px;
    border: none;
    margin-left: 5vw;
    border-radius: 15px;
}
.SignIn_Boton{
    width: 13vw;
    height: 9vh;
    background-color: #2957FF;
    border: none;
    border-radius: 25px;
    margin-left: 43.5vw;
    margin-top: 5vh;
}
.SignIn_Boton_Texto{
    color: white;
    font-weight: normal;
}