*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Titulo{
    font-size: 50px;
    text-align: center;
}
.Seccion_1{
    width: 60vw;
    height: 70vh;
    margin-top: 5vh;
    background-color: #F7C790;
    border: 2px solid #EEA175;
    border-radius: 15px;
    margin-left: 18vw;
}
.Texto_Seccion_1{
    width: 20vw;
    margin-top: 5vh;
    margin-left: 2vw;
}
.Textito_Seccion_1{
    width: 25vw;
    margin-top: 5vh;
    margin-left: 2vw;
    font-weight: normal;
    font-size: 30px;
}
.Boton_Seccion_1{
    width: 13vw;
    height: 9vh;
    background-color: #EEA175;
    border: none;
    border-radius: 25px;
    margin-top: 2vh;
    margin-left: 2vw;
}
.Texto_Boton{
    font-weight: normal;
    font-size: 25px;
}
.Img_Seccion_1{
    width: 25vw;
    height: 52vh;
    position: absolute;
    top: 22vh;
    left: 50vw;
}
.Texto_Seccion_2{
    margin-left: 8vw;
    margin-top: 10vh;
    font-size: 40px;
}
.Textito_Seccion_2{
    width: 40vw;
    font-size: 30px;
    font-weight: normal;
    margin-left: 8vw;
    margin-top: 4vh;
}
.Img_Seccion_2{
    width: 40vw;
    height: 60vh;
    position: absolute;
    left: 50vw;
    top: 80vh;
}
.Cuadro{
    width: 22vw;
    height: 40vh;
    background-color: #F7C790;
    border: 2px solid #EEA175;
    border-radius: 15px;
    margin-left: 5vw;
}
.Textito_Seccion_4{
    font-weight: normal;
    font-size: 20px;
    margin-left: 9vw;
    margin-top: 3vh;
}
.Boton_Seccion_4{
    width: 13vw;
    height: 9vh;
    background-color: #EEA175;
    border: none;
    border-radius: 25px;
    position: absolute;
    left: 50vw;
    top: 203vh;
}